* {
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    height: 100vh;
    margin: 0;
}

main {

    backdrop-filter: blur(5px);
    border-radius: 1rem;
    height: 93vh;
    overflow: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.title-div {
    display: flex;
}

.title-div>p {
    margin: auto;
}

.title-image {
    height: 2rem;
    width: 2rem;
}

.title {
    font-size: 2rem;
}

.dropdown-button>img {
    height: 2rem;
    width: 2rem;
}

.dropdown-button {
    margin: 0.5rem;
    height: 2rem;
    border-style: hidden;
}


.drop-list {
    position: relative;
    margin-right: 2rem;
    list-style: none;
    text-align: end;
}

.links {
    display: grid;
    justify-content: end;
}

.visible {
    display: none;
}

.timer {
    height: 40vh;
    margin: 15%;
}



.timer>p {
    font-size: 9rem;
    text-align: center;
    margin: 0%;

}

.start {
    display: flex;
    justify-content: center;
}

.start>button {
    background-color: #252525;
    height: 2rem;
    width: 4rem;
    line-height: 1.6rem;
    font-size: larger;
    color: antiquewhite;
}

.timer-buttons {
    display: flex;
    justify-content: center;
}

.timer-buttons>button {
    margin: 1rem;
    border: 0;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    color: white;
}

#about {
    padding: 10%;
}

#btn1 {
    background-color: #2C3639;
}

#btn2 {
    background-color: #3F4E4F;
}

#btn3 {
    background-color: #A27B5C;
}

@media only screen and (max-width: 1080px) {
    .timer>p {
        font-size: 3.5rem;
        text-align: center;
        margin: 1rem;
    }

    .timer-buttons>button {
        margin: 0.5rem;
        border: 0;
        border-radius: 0.5rem;
        font-size: 0.7rem;
        line-height: 1rem;
        color: white;
    }

    .start>button {
        height: 1.7rem;
        width: 3.7rem;
        margin: 0 1rem 1rem 1rem;
    }

    .navbar{
        margin: 0%;
    }

    .dropdown-button {
       display: none;
    }
}