* {
    outline: none;
    box-sizing: border-box;
}

body{
    background-image:url(/css/images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    height: 100vh;
    margin: 0;
}

main{
    
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    height: 93vh;
    overflow: auto;
}

main::-webkit-scrollbar{
    display: none;
}

.navbar{
    display: flex;
    border-radius:0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(20px) ;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.title-div{
    display: flex;
}

.title-div>p{
    margin: auto;
}

.title-image{
    height: 2rem;
    width:2rem;
}

.title{
    font-size: 2rem;
}

.dropdown-button>img{
    height:2rem;
    width: 2rem;
}

.dropdown-button{
    margin: 0.5rem;
    height: 2rem;
    border-style: hidden;
}


.drop-list{
    position: relative;
    margin-right: 2rem;
    list-style: none;
    text-align: end;
}

.visible{
    display: none;
}

.timer{
    height: 40vh;
    margin: 15%;
}

.timer>p{
    font-size: 9rem;
    text-align: center;
    margin: 0%;

}
@media screen and (max-width:700px){
    .timer>p{
        font-size:5rem;
        text-align:center;
        margin:0%;
    }

    
}
.start{
    display: flex;
    justify-content: center;
}

.start>button{
    background-color: #2C3639;
    color: antiquewhite;
    line-height: 2rem;
    width: 4rem;
    font-size: large;
    border-style:inset;
}

.timer-buttons{
    display: flex;
    justify-content: center;
}
.timer-buttons>button{
    margin: 1rem;
    border: 0;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    color: white;
}

#about{
    padding: 10%;
}

#btn1{
    background-color: #2C3639;
}
#btn2{
    background-color: #3F4E4F;
}
#btn3{
    background-color: #A27B5C;
}

